<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brainz | Home</title>
    <link rel="stylesheet" href="/css/main.css" class="cs">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>
<header>

</header>
<main>
    <div class="hero">
        <div class="title">
            <h2>Brainz Redesigned</h2>
        </div>
        <p>We are coming soon</p>
        <div class="countdown">
            <ul>
                <li><span id="days"></span>Days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
                <li><span id="seconds"></span>Seconds</li>
            </ul>
        </div>
        <div class="button-group">
            <button class="btn btn-primary get-notified">GET NOTIFIED</button>
            <button class="btn btn-outline">ROAD MAP</button>
        </div>
    </div>
</main>
<footer>

</footer>

<div class="modal">
    <div class="content">
        <div class="card">
            <form action="#none" class="sub-form">
                <div class="close">X</div>
                <h3>Add me to the list</h3>
                <p>You will be notified when we launch via email</p>
                <input type="text" placeholder="Name" required name="name" id="username">
                <input type="email" placeholder="Email" required name="email" id="useremail">
                <button type="submit" class="form-submit">SEND</button>
            </form>
        </div>
    </div>
</div>
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script defer src="/js/main.js"></script>

<body>

</body>

</html>