<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Brainz | Home</title>
    <link rel="stylesheet" href="/css/main.css" class="cs">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>

<body>



    <header>

    </header>
    <main>
        <div class="hero">
            <div class="title">
                <h2>Brainz Redesigned</h2>
            </div>
            <p class="launch-txt">We are coming soon</p>
            <p class="txt"></p>
            <div class="countdown">
                <ul>
                    <li><span id="days"></span>Days</li>
                    <li><span id="hours"></span>Hours</li>
                    <li><span id="minutes"></span>Minutes</li>
                    <li><span id="seconds"></span>Seconds</li>
                </ul>
            </div>
            <div class="button-group">
                <button class="btn btn-outline">ROAD MAP</button>
            </div>
        </div>
    </main>



    <script defer src="/js/main.js"></script>

</body>

</html>