html {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.918)), url("../img/team.jpg") no-repeat center center fixed; */
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend";
    width: 100%;
    box-sizing: border-box;
    background: #1c92d2;
    background-size: cover;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */

    background: linear-gradient(to right, #323435f3, #0c1e27d0, #004466e5), url("../img/team.jpg") no-repeat center center fixed
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h2 {
    font-size: 4rem;
    text-shadow: 1px 1px 5px #000;
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000;
    color: #6ba4c0;
    font-weight: bold;
    width: 100%;
}

.countdown {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(3, 30, 43, 0.699);
    background-image: linear-gradient(to right top, #6b696a, #675f65, #5f5662, #554d61, #474660, #404b68, #365070, #265676, #206984, #227c8f, #308f97, #47a19b);
}

ul li {
    padding: 1rem .5rem;
    margin: 0;
    background-color: #001f2f;
    border-radius: 10px;
}

ul li span {
    display: block;
    font-size: 2rem;
}


.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.button-group button {
    padding: .5rem 2rem;
    font-family: "Lexend";
    margin: 0px 10px;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: .3s all;
}

.btn.btn-primary {
    background-color: rgb(0, 29, 61);
    color: white;
    border: 1px solid transparent;
}

.btn.btn-primary:hover {
    border: 1px solid white;
    background-color: transparent;
    box-sizing: border-box;
    transition: .3s all;
}

.btn.btn-outline {
    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45495e, #536976, #BBD2C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f435c, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bolder;
    color: rgb(0, 0, 0);

}

.btn.btn-outline:hover {
    background: #1c92d2;
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);

    background: linear-gradient(to right, #f2fcfe, #5e8194);
    transition: .3s all;


}

.modal {
    display: none;

}

.modal .content {
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    background: #44A08D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #034042fa, #44a08df3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal form {
    background-color: #fff;
    width: fit-content;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.modal form input, form button {
    display: block;
    margin: 10px;
    padding: .3rem 1rem;
    border-radius: 10px;
    border: 1px solid blue;
    font-family: "Lexend";
    color: black;
}

.modal button {
    cursor: pointer;
    background-image: linear-gradient(to right top, #3b4060, #343b5c, #2d3657, #263153, #1e2c4f, #193458, #103c60, #004467, #005b79, #007287, #248a93, #47a19b);
    color: white;
    border: none;
}

.modal form p {
    font-size: 1rem;
    text-shadow: none;
    word-wrap: normal;
    text-align: left;
}

.modal h3 {
    color: black;
    text-align: left;
}

.modal .close {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #78093e, #801143, #871748, #8f1d4d, #972352, #9a1f58, #9d1b5e, #9f1765, #9b0570, #93007e, #87008c, #750a9b);
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s;

}

.modal .close:hover {
    animation: rotate;
    animation-duration: .5s;
    animation-fill-mode: both;
    transition: .5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}